body{
    height: 97%;
    background-color: whitesmoke;
}

header { 
    height: 45px;
    width: 100%;
    position: fixed;
}

#leftheader {
    width: 40%;
    display: inline-block;
    height: 38px;
    margin-left: 5%;
    top:0px;
}

#leftheader p {
    padding: 0;
    margin-top: -5px;
}

#rightheader {
    height: 38px;
    width: 49%; 
    display: inline-block;
    text-align: right;
}

#rightheader p {
    display: inline-block;
    margin-left: 7px;
}

#rightheader p a {
    color: white;
}


#rightheader p a:hover {
    color: darksalmon;
}

#aboutp {
    position: fixed;
    visibility: hidden;
}

#wrapper{
    height: 100%;
    width: 95%;
    margin: 0 auto;
    max-width: 1100px;
}

#firstsection {
    width: 47%;
    float: left;
    margin-top: 71px;
    margin-left: 1%;
    height: 90%;
}

#secondsection {
    width: 47%;
    float: right;
    margin-top: 71px;
    margin-right: 1%;
    min-height: 400px;
    height: 90%;
}

footer {
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0px;
    max-width: none;
    margin-left: none;
}

@media screen and (max-width: 766px) {
    
    html, body {
    max-width: 100%;
    overflow-x: hidden;
    }
    
    #aboutp {
        position: relative;
        visibility: visible;
    }
    
    #firstsection {
       position: fixed;
        visibility: hidden;
    }
    
    #secondsection {
        width: 97%;
        height: 440px;
        margin: 0 auto;
        margin-top: 50px;
    }
    
    #infolist {
        width: 95%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    
    
    #secondsection {
        
        height: 440px;
    }
    
    .form-group {
       width: 95%;
    }
    
    .form-group-passwords {
        width: 95%;
    }
    
    .form-group-signup {

        width: 95%;

    }
}

@media screen and (max-width: 460px) {
    
}

@media screen and (max-width: 399px) {
    
    
    
    .form-container-login {
        margin-bottom: 50px;
    }
    
    


}

