

body{
    
    background-color: whitesmoke;
}

header { 
    height: 40px;
    width: 100%;
    position: fixed;
}

#headerwrapper{
    width: 95%;
    margin: 0 auto;
    max-width: 1300px;
}

#footerwrapper{
    width: 95%;
    margin: 0 auto;
    max-width: 1100px;
}



#leftheader {
    width: 40%;
    display: inline-block;
    height: 38px;
    margin-left: 5%;
    top:0px;
}

#leftheader p {
    padding: 0;
    margin-top: -5px;
}

#rightheader {
    height: 38px;
    width: 49%; 
    display: inline-block;
    text-align: right;
}

#wrapper{
    height: 100%;
    width: 95%;
    margin: 0 auto;
    max-width: 1100px;
}



#searcharea {
    width: 35%;
    float: left;
    margin-top: 41px;
    margin-left: 1%;
    height: 90%;
    position: fixed;
    max-width: 350px;
    min-height: 400px;
}

#mainarea {
    width: 60%;
    float: right;
    margin-top: 41px;
    margin-right: 1%;
    min-height: 400px;
    margin-bottom: 40px;
}



footer {
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0px;
    
}

   #tabs_wrapper{
        height: 280px;
        visibility: visible;
   }

@media screen and (max-width: 766px) {
    
    html, body {
    max-width: 100%;
    overflow-x: hidden;
    }
    
    #wrapper{
    height: 90%;
    }
    #searcharea{
        width: 98%;
        position: relative;
        max-width: none;
       height: 100px;
        z-index: 100;
        margin: 0 auto;
        margin-top: 50px;
        min-height: 100px;
    }
    
   #tabs_wrapper{
        height: 0px;
       
       visibility: hidden;
   }
    
    #down {
        visibility: visible;
    }
    
    
    #mainarea {
        width: 98%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    
    header{
        z-index: 200;
    }
    
    .moreinfo{
        position: fixed;
        visibility: hidden;
    }
    
    footer{
        position: inherit;
        width: 100%;
        max-width: none;
        margin-left: none;
        margin-bottom: none;
        height: 15px;
    }
    
    #copyright {
        width: 80%;
        text-align:center;
        margin: 0 auto;
        margin-left: none;
    }
    
    
    #leftheader {
        margin-left: 2px;
        width: 25%;
    }
    
    #rightheader {
        width: 70%;
    }
    
    #rightheader p {
       margin-left: 5px;
    }
    
    #loginfo{
        position: fixed;
        visibility: hidden;
    }
    

    
    .books {
        width: 80%;
        height: 75px;
    }
    
    .lended {
      margin-left: 7%;
    }
    

}

