body {
    font-family: 'Oxygen','helvetica', 'arial';
    font-weight: 300;
}

a {
  color: black;
    text-decoration: none;
}

h2,h3 {
    font-weight: 300;
    color:#627071;
}
header { 
    background-color: rgba(68, 179, 194,0.8);
    font-weight: 400;
}



#leftheader p a{
    font-size: 23px;
    font-weight: 400;
    color: whitesmoke;
    position: relative;
    top: -3px;
    letter-spacing: 1px;
}

#rightheader p {
    display: inline-block;
    margin-left: 20px;
     
}

#rightheader p a {
    color: whitesmoke;
     position: relative;
    top: -3px;
}

#rightheader p a:hover {
    color:#627071;
}

#mainarea {
   
}

#searchsubmit input {
    background-color: darksalmon;
}

#addsubmit input {
    background-color: darksalmon;
}


#searcharea {
    background-color: #F2EDD8;
    
}

footer {
    background: whitesmoke;
   
}

footer #copyright {
    position: relative;
    margin-top: -5px;
    font-size: 15px;
    padding: 0px;
    text-align: center;
    color: grey;
    float: left;
    margin-left: 9%;
}

footer #loginfo {
    position: relative;
    margin-top: -5px;
    font-size: 15px;
    padding: 0px;
    text-align: center;
    color: grey;
    float: right;
    margin-right: 3%;
}

#searchbookform div select {
    
    font-weight: 300;
    width: 100%;
    height: 30px;
    border: none;
    padding-left: 5px;
}

#searchbookform {
    margin-top: 20px;
    
}

#searchbookform div{
    width: 85%;
    margin-bottom: 2%;
}

#searchbookform div input {
    font-family: 'Oxygen','helvetica';
    width: 100%;
    height: 30px;
    border: none;
    padding-left: 5px;
    font-weight: 300;
}

#welcomemsg {
    margin-top: 35px;
}

#searchresults {
    margin-top: 26px;
    font-family: 'Oxygen','helvetica';
    color:#627071;
}
.books {
    height: 90px;
    width: 90%;
    border: 2px;
    float: left;
    margin: 10px;
    padding: 15px;
    border-style:solid;
    border-radius: 2px;
    color:#627071;
    font-size: 17px;
}

.books:hover{
    box-shadow: 0px 0px 2px 2px;
    cursor: pointer;
}

.books:active{
    box-shadow: none;
    cursor: pointer;
}





#bookmain{
    margin-top: 10px;
    color:#627071;
    font-weight: 300;
}

#bookmain div p {
    display: inline-block;
    font-size: 20px;
}

#bookmain div .labels {
    font-weight: bold;
    width: 30px;
}

#bookoptions {
    margin-bottom: 20px;
}

#bookoptions i {
    display: inline-block;
    font-size: 28px;
    color:#627071;
    margin: 10px 10px;
  
   
    padding: 5px;
}

#bookoptions i:hover{
    color: rgb(68, 179, 194);
    cursor: pointer; 
}

#bookoptions i:active{
    position: relative;
    top: 1px;
}

#bookoptions h2 {
    display: inline-block;
    color:#627071;
     font-size: 27px;
}

#optionquestion_delete {
    color:#627071;
    font-size: 25px;
    position: fixed;
    visibility: hidden;
    font-weight: 300;
}

#optionquestion_delete p{
    display: inline-block;
}

#optionquestion_delete .answer{
    margin: 10px 10px;
    font-size: 23px;
    padding: 3px;
}

#optionquestion_delete .answer:hover{
     color: rgb(68, 179, 194);
     cursor: pointer;
}

#optionquestion_delete .answer:active{
    position: relative;
    top:1px;
}

#optionquestion_delete a {
    color:#627071;
}

#optionquestion_lend {
    color:#627071;
    font-size: 25px;
    position: fixed;
    visibility: hidden;
}

#goafteradd {
    text-align: center;
}

#goafteradd a:hover {
    color:  rgb(68, 179, 194);
    cursor: pointer;
}


.booksname {
    word-break:break-all;
    position: relative;
    top: 15px;
    height: 40px;
    margin-top: -25px;
    width: 97%;
    overflow: hidden;
    
}

.booksname p {
    margin-top: 0px;
    line-height: 120%;
}

.idandauthor {
    width: 99%;
    height: 40px;
    margin-top: -3px;
    margin-bottom: 23px;
    position: relative;
    top: 26px;
}

.booksauthor {
    width: 87%;
    position: relative;
    word-break: break-all;
    height: 40px;
    float: left;
    overflow: hidden;
}

.booksauthor p {
    margin-top: 0px;
    line-height: 115%;
}

.bookidarea {
    float: right;
    width: 8%;
    margin-left: 2%;
    height: 25px;
}

.bookidarea p {
    margin-top: 0px;
}

.moreinfo {
    word-break:break-all;
    height: 30px;
    margin-top: 5px;
    width: 97%;
    font-size: 15px;
}
    
.books1st {        
    word-break:break-all;
    display: inline-block;
    width: 30%;
    height: 20px;
    margin: 1% 1%;
    overflow: hidden;
}

.books1st p {
    margin-top: 0px;
}

.books2nd {
    word-break:break-all;
    display: inline-block;
    width: 30%;
    height: 20px;
    margin: 1% 1%;
    overflow: hidden;
}

.books2nd p {
    margin-top: 0px;
}
    
    .books3rd {
       
        word-break:break-all;
        display: inline-block;
        width: 30%;
        height: 20px;
        margin: 1% 1%;
         overflow: hidden;
    }

    .books3rd p {
        margin-top: 0px;
    }

    .book_info_wrapper {
        width: 100%;
        
    }
    
    .book_info {
        
        height: 55px;
        word-break:break-all;
        overflow: hidden;
        width: 91%;
        display: inline-block;  
    }
    
    .book_info_edit {
        
        height: 55px;
        word-break:break-all;
        overflow: hidden;
        width: 94%;
        display: inline-block;
    }
    
    .book_info p{
        margin-top: 0px;
    }
    
    #big_label {
        margin-right : 7px;
    }
    
    .book_edit {
        display: inline-block;
        vertical-align: top;
        
    }
    
    #edit_logo{
        font-size:20px;
        position: relative;
        right: 0px;
        margin-top: 2px;
    }
    
   #edit_logo:hover{
    color: rgb(68, 179, 194);
    cursor: pointer;
    font-size:23px;
}
    
    .book_info_edit {
        position: fixed;
        visibility: hidden;
    }

    .book_info_input{
        
        width: 85%;
        margin-left: 5%;
        margin-top: 2px;
    }
    

    .book_info_input input{ 
        width: 70%;
        display: inline-block;
        border: none;
             height: 26px;
    font-size: 18px;
    font-weight: 300; 
    padding-left: 5px;
    border: none;
    background-color: #ccf4ff;
    color: darksalmon;
    }
    
     .book_info_input button {
         width: 25%;
        display: inline-block;
         font-weight: 300; 
       height: 26px;
        border: none;
        background-color: #efb5a1;
        position: relative;
         top: -2px;
    color: #627071;
     }

#lendinput {
    width: 50%;
    display: inline-block;
    border: none;
    height: 26px;
    font-size: 18px;
    font-weight: 300; 
    padding-left: 5px;
    border: none;
    background-color: #ccf4ff;
    color: darksalmon;
    
}

#btn_lend {
    width: 15%;
    display: inline-block;
    font-weight: 300; 
    height: 26px;
    border: none;
    font-size: 18px;
    background-color: #efb5a1;
    position: relative;
    color: #627071;
}

#cancel_lend{
    width: 80px;
    display: inline-block; 
    font-size: 18px;
    height: 26px;
}

#cancel_lend:hover {
    cursor: pointer;
    color: rgb(68, 179, 194);
}

#lendedname{
    display: inline-block;
     color: #627071;
    font-size: 22px;
    font-weight: 300; 
}

#btn_unlend, #unlend_form {
    position: fixed;
    visibility: hidden;
}

#settings_wrapper h3 a{
    color:#627071;
}

#settings_wrapper h1{
    color:#627071;
}


#settings_wrapper h3 a:hover{
    color: rgb(68, 179, 194);
    cursor: pointer;
}

#settings_wrapper i {
    margin-right: 5px;
}

#lastbook .books{
    margin-bottom: 40px;
}

#lended_wrapper {
    color: #627071;
}

#lended_wrapper a{
    color: #627071;
}


.lended {
    width: 85%;
    min-height: 75px;
    max-height: 90px;
    border: 2px solid;
    font-size: 18px;
    margin-bottom: 10px;
}

.lended:hover {
    box-shadow: 0px 0px 2px 2px;
    cursor: pointer;
}

.lended:active{
    box-shadow: none;
    cursor: pointer;
}


.lended p {
    margin-top: 1px;
}

.lended_info {
    width: 97%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2px;
    min-height: 30px;
    max-height: 50px;
    word-break: break-all;
    overflow: hidden;
}

.lended_info_person {
    width: 97%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2px;
    height: 30px;
    overflow: hidden;
}



/*TABS*/
#tabContainer {
	width:100%;
	padding:15px;
    margin-top: 55px;
}

#tabs{
	height:70px;
	overflow:hidden;
  margin-left: -42px;
    
    margin-top: -60px;
    padding-top: 5px;
   
    
}

#tabs > ul{
	font: 1em;
	list-style:none;
    margin-bottom: 25px;
}

#tabs > ul > li{
	margin:0 2px 0 0;
	padding:15px 18px;
	display:block;
	float:left;
    margin-right: 3px;
	color:  black;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	background:  #FFFFFF; /* old browsers */
    font-size: 17px;
   border: 1px solid white;
}

#tabs > ul > li:hover{
	background-color:  #f9dcb8;
	cursor:pointer;
    border: 1px solid grey;
}

#tabs > ul > li.tabActiveHeader{
	background: darksalmon; /* old browsers */
    border-bottom-color: cadetblue;
    border-bottom-width: 3px;
	cursor:pointer;
	color:  black;
    border-color: gray;
}

#tabscontent {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px; 
	padding:10px 10px 25px;
	margin:0;
    z-index: 1;
    overflow: auto; 
}

.tabpage {
  margin-bottom: 40px;
}

.hiddentabs{
    position: fixed;
    visibility: hidden;
}

.visibletab{
     position: relative;
    visibility: visible;
}

#down{
    width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	position: absolute;
    visibility: hidden;
     /*To Do*/
    right: 30px;
    top: 50px;
	border-top: 20px solid darksalmon;
}